{% load static %}
body{
    user-select: none;
    font-family: sans-serif;
    min-height: 100vh;
    background-size: 100px 50px;
    margin: 0;
}
/* #attempted{
    color: #088a85;
}
#unattempted{
    color: #ec5858;
}
#flagged{
    color: #a1cae2;
} */
.choices{
    list-style-type: none;
    margin-bottom: 30px;
}
#onlineTest {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px #7a7676;
}
#status {
    /* border: 1px solid black;
    border-collapse: collapse; */
    position: absolute;
    right: 7%;
    bottom: 10%;
    width: 20%;
    align-self: flex-end;
    color: black;
}
#instructions > ol > li {
    padding: 0.5rem;
    font-family: serif;
}
.statusPanel {
    font-weight: 500px;
    padding-top: 10px;
    /* border: 1px solid black; */
}
#timer{
    position: absolute;
    right: 12%;
    top: 5%;
    align-self: flex-end;
}
.quiz-container{
    position: absolute;
    /* width: 700px; */
    /* left: 35%; */
    left: 50%;
    transform: translate(-50%);
    top: 12%;
    z-index: 1;
    padding: 2rem;
    padding-top: 1rem;

    /* background: white; */
    background: url url("/static/images/bglmg3.png")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border-radius: 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
#sidebar{
    overflow: scroll;
    position: absolute;
    right: 6%;
    top: 10%;
    text-align: center;
    height: 53%;
    width: 22%;
    padding: 0;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: #e3f5e2;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }

#sidebar::-webkit-scrollbar {
    width: 16px;
}

#sidebar li{
    height: 30px;
    width: 30px;
    text-align: center;
    float: left;
    font-size: 20px;
    background-color: #e0e6e0;
    padding: 10px 10px;
    border: 1px solid #e0e6e0;
    cursor: pointer;
    border-radius: 50%;
}
#sidebar li:hover{
    border: 1px solid black;
}
#next, #previous, #flag, #startQuiz, .confButton{
    font-family: "Times New Roman";
    text-decoration: none;
    border: 0;
    outline: none;
    border: 1px  solid black;
    border-bottom: 5px solid #088a85;
    background: white;
    color: black;
    font-size: large;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
}
#next{
    float: right;
}
#previous{
    float: left;
}
#flag {
    margin-left: 27%;
}
#next:hover, #previous:hover, #startQuiz:hover{
    background-color: black;
    color: white;
}
#startQuiz{
    margin-top: 10px;
    margin-left: 22px;
}
#choicebox li{
    border: 2px dotted transparent;
    padding: 10px 5px;
    margin-top: 10px;
    font-size: 20px;
    transition: 0.2s;
}
#choicebox li:hover{
    border: 2px dotted black;
}
#choicebox, #question{
    animation: anim ease-in 0.5s;
}
@keyframes anim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#instr {
    text-decoration: underline;
    margin-bottom: 2%;
}

.instructions, #heading, label{
    font-size: 20px;
}
#name{
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    margin-top: 15px;
    margin-left: 14px;
    background-color: rgb(238, 232, 232);
}
.sb{
    animation: sideanim ease-out 0.5s;
}
@keyframes sideanim{
    from{
        opacity: 0;
        margin-left: 160px;
    }
    to{
        opacity: 1;
        margin-left: 20px;
    }
}
@media (max-width: 1157px){
    .quiz-container{
        width: 500px;
    }
}
@media (max-width: 960px){
    #sidebar{
        width: 110px;
    }
}
@media (max-width: 852px){
    .quiz-container{
        top: 55%;
    }
    #sidebar{
        width: 600px;
    }
}
@media (max-width: 630px){
    #sidebar{
        width: 500px;
    }
}
@media (max-width: 585px){
    .quiz-container{
        width: 400px;
    }
}
@media (max-width: 530px){
    .quiz-container{
        width: 350px;
        padding: 0;
        margin-left: -10px;
        top: 75%;
    }
    body{
        width: 350px;
    }
    #sidebar{
        margin-left: 0;
        width: 400px;
    }
}
@media (max-width: 400px){
    .quiz-container{
        top: 83%;
    }
}
#attemptedIcon {
    background-color: #088a85;
    bottom: 20%;
}
#unattemptedIcon {
    background-color: #ec5858;
    bottom: 15.3%;
}
#flaggedIcon {
    background-color: cornflowerblue;
    bottom: 9.5%;
}
.icons {
    width: 15px;
    height: 10px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    position: absolute;
    right: 26.5%;
}
/* #popUpBox{
    height: 30%;
    width: 40%;
    background-color: rgb(245, 238, 238);
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 100;
    text-align: center;
    padding-top: 40px;
    visibility: hidden;
}
.confButton {
    margin-top: 30px;
} */

.confButton {
    margin-left: 39%;
    display: none;
}
#noButton {
    margin-left: 5%;
}
#confMsg {
    text-align: center;
    display: none;
}
/* html {
    background: url(bgImg2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

#logo {
    position: absolute;
    left: 40%;
    top: 25%;
}

#questionContainer, #onlineTest {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* #logo {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
}
@-moz-keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
}
@-o-keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
} */
