
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body oncopy="return false" onpopstate="return false" >

    

    <div class="header">
        <center><h1 id='onlineTest' style="font-size: 3rem;	font-weight: 200;margin-top: 0; width: fit-content;padding: 5px;">ONLINE TEST</h1></center>
        <table id="status" class='statusBox' style="visibility: hidden; font-size: 18px;">
            <tr>
                <div id='attemptedIcon' class='icons'></div>
                <td class='statusPanel' id='att'>ATTEMPTED </td>
                <td><span id='attempted'></span></td>
            </tr>
            <tr>
                <div id='unattemptedIcon' class='icons'></div>
                <td class='statusPanel' id='unatt'>UNATTEMPTED </td>
                <td><span id="unattempted"></span></td>
            </tr>
            <tr>
                <div id='flaggedIcon' class='icons'></div>
                <td class='statusPanel' id='flgd'>MARK FOR REVIEW </td>
                <td><span id="flagged"></span></td>
            </tr>
        </table>
        <table id="timer" style="visibility: hidden; font-size: 1.5rem;">
            <tr>
                <td>Time left : </td>
                <td><span id="quizTimer"></span></td>
            </tr>
            <tr>
                <td></td>
                <td><span id="score"></span></td>
            </tr>
        </table>
    </div>
    {% load static %}
    <div id='logo' width='200px' height='200px'>
        <img src="{% static 'images/logo.jpg' %}" alt='logo'>
    </div>

    <div class="container" id='questionContainer'>
        <ul id="sidebar" style="visibility: hidden;"></ul>
        
        <div class="quiz-container" id='questionBox'>
            <h3 id="instr" style="text-align: center; font-weight: lighter;">PLEASE READ THE INSTRUCTIONS CAREFULLY</h3>
            <div id="instructions">
                <ol>
                    <li>You will have 30 minutes to complete the test.</li>
                    <li>The countdown timer in the top right corner will display the time remaining to complete the test. When the timer reaches zero, your test will end automatically.</li>
                    <li>Enter your email id and click on the ‘’start’’ button to start the test.</li>
                    <li>Once you select an answer click Next button to proceed to the following question.</li>
                    <li>Hit the Mark for Review & Next button option if you’re unsure about a solution and want to review the answer later.</li>
                    <li>Click on the ‘’submit’’ button when you are done with your test.</li>
    
                </ol>
            </div>
            <section id="quiz"></section><br><hr id='hr' style="background-color: black;">
        </div>
    </div>
    {% load static %}
    <script type="text/javascript">

        var questions = [
    {
        question : "The processes in project management have been classified into knowledge areas and",
        choices : ["Methods", "Process Groups", "Categories", "Best practices"],
        answer : ["Process Groups"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "The application of knowledge, skills, tools and techniques to project activities to meet the project requirements is referred to as:",
        choices : ["Project initiation", "Project coordination", "Project administration", "Project management"],
        answer : ["Project management"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "Which of the following is NOT an Enterprise Environmental Factor?",
        choices : ["Organizational culture", "Political climate", "Performance measurement criteria", "Existing facilities and infrastructure"],
        answer : ["Performance measurement criteria"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "The person or organization that provides the funding or financial resources for the project is referred to as the:",
        choices : ["Customer", "Sponsor", "Steering committee", "Project Management Office"],
        answer : ["Sponsor"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },{
        question : "During the project lifecycle, stakeholder identification is expected to be:",
        choices : ["A continuous and sometimes difficult process", "The responsibility of the project sponsor", "Completed prior to the approval of the project charter", "Focused only on stakeholders who will be impacted favorably as a result of the project"],
        answer : ["A continuous and sometimes difficult process"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "The end of a project phase is generally considered to be:",
        choices : ["The formal authorization to begin the next project phase", "A natural point to assess project performance and determine if the project should continue", "The point in the project life cycle where risk is at its lowest level", "The point where formal control procedures of the project are generally enforced"],
        answer : ["A natural point to assess project performance and determine if the project should continue"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },{
        question : "Which of the following statements about the project life cycle is false?",
        choices : ["Cost and staffing are at the highest levels during the start of the project", "Risk is at the highest level of uncertainty at the start of the project", "The control needs of the organization will determine how many phases will be included in the project life cycle", "Project phases are typically completed sequentially but can be overlapped to accelerate completion of a project"],
        answer : ["Cost and staffing are at the highest levels during the start of the project"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "You are defining the project in more detail as you move through the phases of the project. You are engaged in:",
        choices : ["Progressive elaboration", "Project selection", "Monitoring and Controlling", "Decomposition"],
        answer : ["Progressive elaboration"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "Which of the following is NOT generally considered a characteristic of a project?",
        choices : ["Unique undertaking", "A temporary endeavor with specific starting and ending dates", "Ongoing and continually supporting organizational operations", "Completed when all objectives are achieved or terminated when the project objectives are no longer viable"],
        answer : ["Ongoing and continually supporting organizational operations"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "Your company is introducing a new product to be available in the first quarter of the next business cycle. The product will support an existing product as an add-on optional feature. Which of the following is true?",
        choices : ["This is an ongoing operation because the previous product is already in use by customers", "This is a project because it involves a new product that has not been previously developed", "This is an operation because it adds a feature that will be part of an ongoing sales effort", "This is a program that supports the operations of the company"],
        answer : ["This is a project because it involves a new product that has not been previously developed"],
        marked : false,
        correct : false,
        multiAnswer : true,
        flagState: false
    },
    {
        question : "The processes in project management have been classified into knowledge areas and",
        choices : ["Methods", "Process Groups", "Categories", "Best practices"],
        answer : ["Process Groups"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "The application of knowledge, skills, tools and techniques to project activities to meet the project requirements is referred to as:",
        choices : ["Project initiation", "Project coordination", "Project administration", "Project management"],
        answer : ["Project management"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "Which of the following is NOT an Enterprise Environmental Factor?",
        choices : ["Organizational culture", "Political climate", "Performance measurement criteria", "Existing facilities and infrastructure"],
        answer : ["Performance measurement criteria"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "The person or organization that provides the funding or financial resources for the project is referred to as the:",
        choices : ["Customer", "Sponsor", "Steering committee", "Project Management Office"],
        answer : ["Sponsor"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },{
        question : "During the project lifecycle, stakeholder identification is expected to be:",
        choices : ["A continuous and sometimes difficult process", "The responsibility of the project sponsor", "Completed prior to the approval of the project charter", "Focused only on stakeholders who will be impacted favorably as a result of the project"],
        answer : ["A continuous and sometimes difficult process"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "The end of a project phase is generally considered to be:",
        choices : ["The formal authorization to begin the next project phase", "A natural point to assess project performance and determine if the project should continue", "The point in the project life cycle where risk is at its lowest level", "The point where formal control procedures of the project are generally enforced"],
        answer : ["A natural point to assess project performance and determine if the project should continue"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },{
        question : "Which of the following statements about the project life cycle is false?",
        choices : ["Cost and staffing are at the highest levels during the start of the project", "Risk is at the highest level of uncertainty at the start of the project", "The control needs of the organization will determine how many phases will be included in the project life cycle", "Project phases are typically completed sequentially but can be overlapped to accelerate completion of a project"],
        answer : ["Cost and staffing are at the highest levels during the start of the project"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "You are defining the project in more detail as you move through the phases of the project. You are engaged in:",
        choices : ["Progressive elaboration", "Project selection", "Monitoring and Controlling", "Decomposition"],
        answer : ["Progressive elaboration"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "Which of the following is NOT generally considered a characteristic of a project?",
        choices : ["Unique undertaking", "A temporary endeavor with specific starting and ending dates", "Ongoing and continually supporting organizational operations", "Completed when all objectives are achieved or terminated when the project objectives are no longer viable"],
        answer : ["Ongoing and continually supporting organizational operations"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "Your company is introducing a new product to be available in the first quarter of the next business cycle. The product will support an existing product as an add-on optional feature. Which of the following is true?",
        choices : ["This is an ongoing operation because the previous product is already in use by customers", "This is a project because it involves a new product that has not been previously developed", "This is an operation because it adds a feature that will be part of an ongoing sales effort", "This is a program that supports the operations of the company"],
        answer : ["This is a project because it involves a new product that has not been previously developed"],
        marked : false,
        correct : false,
        multiAnswer : true,
        flagState: false
    },
    {
        question : "The processes in project management have been classified into knowledge areas and",
        choices : ["Methods", "Process Groups", "Categories", "Best practices"],
        answer : ["Process Groups"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "The application of knowledge, skills, tools and techniques to project activities to meet the project requirements is referred to as:",
        choices : ["Project initiation", "Project coordination", "Project administration", "Project management"],
        answer : ["Project management"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "Which of the following is NOT an Enterprise Environmental Factor?",
        choices : ["Organizational culture", "Political climate", "Performance measurement criteria", "Existing facilities and infrastructure"],
        answer : ["Performance measurement criteria"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "The person or organization that provides the funding or financial resources for the project is referred to as the:",
        choices : ["Customer", "Sponsor", "Steering committee", "Project Management Office"],
        answer : ["Sponsor"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },{
        question : "During the project lifecycle, stakeholder identification is expected to be:",
        choices : ["A continuous and sometimes difficult process", "The responsibility of the project sponsor", "Completed prior to the approval of the project charter", "Focused only on stakeholders who will be impacted favorably as a result of the project"],
        answer : ["A continuous and sometimes difficult process"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "The end of a project phase is generally considered to be:",
        choices : ["The formal authorization to begin the next project phase", "A natural point to assess project performance and determine if the project should continue", "The point in the project life cycle where risk is at its lowest level", "The point where formal control procedures of the project are generally enforced"],
        answer : ["A natural point to assess project performance and determine if the project should continue"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },{
        question : "Which of the following statements about the project life cycle is false?",
        choices : ["Cost and staffing are at the highest levels during the start of the project", "Risk is at the highest level of uncertainty at the start of the project", "The control needs of the organization will determine how many phases will be included in the project life cycle", "Project phases are typically completed sequentially but can be overlapped to accelerate completion of a project"],
        answer : ["Cost and staffing are at the highest levels during the start of the project"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "You are defining the project in more detail as you move through the phases of the project. You are engaged in:",
        choices : ["Progressive elaboration", "Project selection", "Monitoring and Controlling", "Decomposition"],
        answer : ["Progressive elaboration"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "Which of the following is NOT generally considered a characteristic of a project?",
        choices : ["Unique undertaking", "A temporary endeavor with specific starting and ending dates", "Ongoing and continually supporting organizational operations", "Completed when all objectives are achieved or terminated when the project objectives are no longer viable"],
        answer : ["Ongoing and continually supporting organizational operations"],
        marked : false,
        correct : false,
        multiAnswer : false,
        flagState: false
    },
    {
        question : "Your company is introducing a new product to be available in the first quarter of the next business cycle. The product will support an existing product as an add-on optional feature. Which of the following is true?",
        choices : ["This is an ongoing operation because the previous product is already in use by customers", "This is a project because it involves a new product that has not been previously developed", "This is an operation because it adds a feature that will be part of an ongoing sales effort", "This is a program that supports the operations of the company"],
        answer : ["This is a project because it involves a new product that has not been previously developed"],
        marked : false,
        correct : false,
        multiAnswer : true,
        flagState: false
    },


    //test questions
];

var score = 0;
var quizDuration = 0;
var quizSecondElapsed = 0;
var quizInterval;
var questionDuration = quizDuration;
var questionSecondElapsed = 0;
var questionInterval;
var currentQuestion = 0;
var username;
var quizTimer = document.getElementById("quizTimer");
var quiz = document.getElementById("quiz");
var timerTable = document.getElementById("timer");
var randomQuestions;

function init() {
    clear();
    reset();

    document.getElementById('attemptedIcon').style.visibility = "hidden";
    document.getElementById('unattemptedIcon').style.visibility = "hidden";
    document.getElementById('flaggedIcon').style.visibility = "hidden";

    let nameLabel = document.createElement("label");
    nameLabel.setAttribute("for", "name");
    nameLabel.setAttribute("id", "name");
    nameLabel.textContent = "Enter test ID : ";
    let nameInput = document.createElement("input");
    nameInput.setAttribute("id", "name");
    nameInput.setAttribute("name", "name");
    let lb = document.createElement("br");
    quiz.appendChild(nameLabel);
    quiz.appendChild(nameInput);
    quiz.appendChild(lb);
    let startQuiz = document.createElement("button");
    startQuiz.setAttribute("id", "startQuiz");
    startQuiz.textContent = "START";
    quiz.appendChild(startQuiz);

    startQuiz.addEventListener("click", function(){
        username = nameInput.value;
        document.getElementById('questionBox').style.left = "550px";
        document.getElementById('onlineTest').style.visibility = "hidden";
        if(username!="") {
            document.getElementById("instr").style.display = "none";
            document.getElementById("instructions").style.display = "none";
            randomQuestions = rQuestions(questions);
            sidebar(randomQuestions);
            startquiz(randomQuestions);

        }
    })
}

function clear() {
    quiz.innerHTML = "";
}

function sidebar(randomQuestions) {
    var side = document.getElementById("sidebar");
    side.className = "sb";
    side.style.visibility = "visible";
    for(let i = 0; i < questions.length; i++){
        let sideQuestion = document.createElement("li");
        sideQuestion.setAttribute("id", i + 1);
        sideQuestion.setAttribute("style", "list-style-type:none");
        sideQuestion.textContent = i + 1;
        side.appendChild(sideQuestion);
    }
    side.addEventListener("click", function() {
        toggleSidebar(randomQuestions);
    })
}

function toggleSidebar(randomQuestions) {
    let e = event.target;
    if(e.matches("li")){
        let questionno = e.textContent;
        showQuestion(Number(questionno) - 1, randomQuestions);
    }
}

function reset() {
    score = 0;
    quizDuration = 0;
    quizSecondElapsed = 0;
    currentQuestion = 0;
    questionDuration = quizDuration;
    questionSecondElapsed = 0;
    questionInterval;
    for(let i = 0; i < questions.length; i++){
        questions[i].marked = false;
    }
    quizInterval;
}

function startquiz(randomQuestions){

    timerTable.style.visibility = "visible";
    document.getElementById('status').style.visibility = "visible";
    document.getElementById('score').style.visibility = "hidden";
    quizDuration = questions.length * 60;

    startTimer();
    time();
    showQuestion(currentQuestion, randomQuestions);
}

function rQuestions(arr) {
    var randomQuestions = [];
    var result = [], randNumber,Count=questions.length;
    while ( Count > 0) {
        randNumber = Math.round(Math.random() * (questions.length - 1));
        if (result.indexOf(randNumber) == -1) {
            result.push(randNumber);
            Count--;
        }
    }
    for(let i = 0; i < questions.length; i++) {
        randomQuestions[i] = arr[result[i]];
        randomQuestions[i].number = i + 1;
        randomQuestions[i].userAnswer = [];
    }
    return randomQuestions;
}

function startTimer() {
    clearInterval(quizInterval);
    quizSeconds = quizDuration;
    quizInterval = setInterval(function() {
        quizSecondElapsed++;
        questionSecondElapsed++;
        time();
    }, 1000);
}

function time() {
    let s = quizDuration - quizSecondElapsed;
    function fmtMSS(s){
        if(s<60) {
            quizTimer.style.color = "red";
            setInterval(function() {
                quizTimer.style.visibility = (quizTimer.style.visibility == 'hidden' ? '' : 'hidden');
            }, 1000);
        }
        if(s<0){
            quizTimer.style.visibility = "hidden";
        }
        return(s-(s%=60))/60+(9<s?':':':0')+s;
    }
    let content = fmtMSS(s);
    quizTimer.textContent = content;
    if((quizDuration - quizSecondElapsed) < 1){
        endQuiz();
    }
}

var attempted = 0;
var flagged = 0;
document.getElementById('attempted').textContent = 0;
document.getElementById('flagged').textContent = 0;
document.getElementById('unattempted').textContent = questions.length;
let selectedItems = [];

function showQuestion(i, randomQuestions) {

    document.getElementById('attemptedIcon').style.visibility = "visible";
    document.getElementById('unattemptedIcon').style.visibility = "visible";
    document.getElementById('flaggedIcon').style.visibility = "visible";

    clear();
    questionSecondElapsed = 0;
    currentQuestion = i;
    if(i == randomQuestions.length){
        endQuiz();
        return;
    }
    let question = document.createElement("h1");
    question.setAttribute("question", randomQuestions[i].question);
    question.setAttribute("id", "question")
    question.textContent = "Q" +  eval(i + 1) + ". " + randomQuestions[i].question;
    quiz.appendChild(question);
    let choicebox = document.createElement("div");
    choicebox.setAttribute("id", "choicebox");
    quiz.append(choicebox);
    for(let j = 0; j < randomQuestions[i].choices.length; j++){

        let option = document.createElement("p");
        option.setAttribute("class", "choices");

        let checkBox = document.createElement('INPUT');
        checkBox.setAttribute("type", "checkbox");
        checkBox.setAttribute("class", "checkBox");
        checkBox.setAttribute("value", "choice-" + j);
        checkBox.setAttribute("name", "checkBox-" + j);
        checkBox.setAttribute("id", "checkBox-" + j);

        let label = document.createElement('label');
        label.setAttribute("for", "checkBox-" + j);

        option.appendChild(checkBox);
        option.appendChild(label);

        // listchoice.appendChild(checkBox);
        // listchoice.appendChild(label);

        label.textContent += randomQuestions[i].choices[j];
        if(randomQuestions[i].marked && randomQuestions[i].answer == randomQuestions[i].choices[j]){
            //listchoice.setAttribute("style", "background-color: green; color: white");
        }
        if(randomQuestions[i].userAnswer) {
            for(x=0; x<randomQuestions[i].userAnswer.length; x++){
                if(randomQuestions[i].userAnswer[x]== randomQuestions[i].choices[j]){
                    //attempted
                    //option.setAttribute("style", "background-color: #088a85; color: white");
                    checkBox.setAttribute("checked", "true");
                }
            }
        }
        //choicebox.appendChild(label);
        choicebox.appendChild(option);

        // choicebox.appendChild(listchoice);

        // choicebox.appendChild(checkBox);
        // choicebox.appendChild(label);
    }
    choicebox.addEventListener("click", function () {
        scoreAnswer(randomQuestions[i]);
    })
    let previous = document.createElement("button");
    previous.setAttribute("id", "previous");
    previous.textContent = "Previous";


    quiz.appendChild(previous);
    if(i == 0){
        previous.style.visibility = "hidden";
    }

    let flag = document.createElement("button");
    flag.setAttribute("id", "flag");
    flag.textContent = "Mark for Review";

    quiz.appendChild(flag);

    let next = document.createElement("button");
    next.setAttribute("id", "next");

    if(i == randomQuestions.length - 1){
        next.textContent = "Submit";
    }else{
        next.textContent = "Next";
    }

    quiz.appendChild(next);

    previous.addEventListener("click", function () {
        selectedItems = [];
        currentQuestion--;
        showQuestion(currentQuestion, randomQuestions);
    })
    flag.addEventListener("click", function() {
        if(randomQuestions[i].flagState == false) {
            if(randomQuestions[i].marked) {
                flagged++;
                attempted--;
            } else if(!randomQuestions[i].marked) {
                flagged++;
            }
            //flagged
            document.getElementById(randomQuestions[i].number).style.backgroundColor = "cornflowerblue";
            //flagged++;
            randomQuestions[i].flagState = true;
            this.textContent = 'Unmark for review';
        } else {
            if(randomQuestions[i].marked) {
                flagged--;
                attempted++;
            } else if(!randomQuestions[i].marked) {
                flagged--;
            }
            this.textContent = 'Mark for review';
            if(!randomQuestions[i].marked) {
                // document.getElementById(randomQuestions[i].number).style.backgroundColor = "#51adcf";
                //initial question panel colot
                document.getElementById(randomQuestions[i].number).style.backgroundColor = "#e0e6e0";
            } else {
                //attempted
                document.getElementById(randomQuestions[i].number).style.backgroundColor = "#088a85";
            }
            //flagged--;
            randomQuestions[i].flagState = false;
        }

        document.getElementById('flagged').textContent = flagged;
        document.getElementById('attempted').textContent = attempted;
        document.getElementById('unattempted').textContent = questions.length - attempted - flagged;

        //mark for review
        // document.getElementById(randomQuestions[i].number).style.backgroundColor = "orange";

        // document.getElementById('flagged').textContent = flagged;
        // document.getElementById('unattempted').textContent = questions.length - attempted - flagged;
        // document.getElementById('attempted').textContent = attempted;
    })
    next.addEventListener("click", function(){

        if(randomQuestions[i].number==(questions.length)) {
            for(let x=0; x<questions.length; x++) {
                if(!questions[x].marked) {
                    document.getElementById(questions[x].number).style.backgroundColor = '#ec5858';
                }
            }
        }

        selectedItems = [];
        currentQuestion++;
        if((!randomQuestions[i].marked) && (!randomQuestions[i].flagState)) {
            //unattempted-color
            document.getElementById(randomQuestions[i].number).style.backgroundColor = "#ec5858";
        }
        showQuestion(currentQuestion, randomQuestions);
    })

    if(randomQuestions[i].flagState) {
        document.getElementById('flag').textContent = 'Unmark for review';
    }else {
        document.getElementById('flag').textContent = 'Mark for review';
    }

    document.getElementById('yesButton').style.display = 'none';
    document.getElementById('noButton').style.display = 'none';
    document.getElementById('confMsg').style.display = 'none';

}


function scoreAnswer(current) {

    var e = event.target.nextElementSibling;

    if(e.matches("input") || e.matches("label")){

        //added from here
        if(current.answer.length>0) {

            if(!current.multiAnswer) {

                if((e.textContent.slice(0) == selectedItems[0]) || (e.textContent.slice(0) == current.userAnswer[0])) {

                    selectedItems = [];
                    current.userAnswer = [];
                    current.marked = false;

                } else {

                    selectedItems[0] = e.textContent.slice(0);
                    current.userAnswer[0] = e.textContent.slice(0);

                }

            } else {
                let ticked = false;
                for(let y=0; y<selectedItems.length; y++) {
                    if(e.textContent.slice(0) == selectedItems[x]) {
                        ticked = true;
                        current.userAnswer.splice(indexOf(selectedItems[y]), 1);
                        selectedItems.splice(y, 1);
                    }
                }

                let chosen = false;
                for(let x=0; x<current.userAnswer.length; x++) {
                    if(e.textContent.slice(0) == current.userAnswer[x]) {
                        chosen = true;
                        current.userAnswer.splice(x, 1);
                    }
                }

                if(!ticked && !chosen) {
                    selectedItems.push(e.textContent.slice(0));
                    current.userAnswer.push(e.textContent.slice(0));
                }
            }

        } else {

            selectedItems[0] = e.textContent.slice(0);
            current.userAnswer[0] = e.textContent.slice(0);

        }
        //to here

        if(!current.multiAnswer){
            let selectedId = event.target.id;
            for(x=0; x<current.choices.length; x++) {
                if(!(('checkBox-' + x) == selectedId)) {
                    document.querySelector('#checkBox-' + x).checked = false;
                }
            }
        }

        //added scoring code from here
        if(!current.multiAnswer) {

            if(current.userAnswer[0] == current.answer[0]) {
                score++;
                current.correct = true;
            } else {
                current.correct = false;
            }

        } else if(current.multiAnswer) {

            if(current.answer.length == current.userAnswer.length) {

                let equal = true;
                let sort1 = current.answer.sort();
                let sort2 = current.userAnswer.sort();
                for(let x=0; x<current.answer.length; x++) {
                    if(!(sort1[x] == sort2[x])) {
                        equal = false;
                    }
                }

                if(equal) {
                    score++;
                    current.correct = true;
                } else {
                    current.correct = false;
                }

            } else {
                current.correct = false;
            }

        }
        //to here

        // for(let x = 0; x<selectedItems.length; x++) {
        //     if(!current.multiAnswer) {
        //         if(selectedItems[x] == current.answer[0]){
        //             score += 1;
        //             document.getElementById("score").textContent = score;
        //             current.correct = true;
        //         } else if((selectedItems[x] != current.answer[0]) && current.marked) {
        //             score -= 1;
        //             document.getElementById("score").textContent = score;
        //             current.correct = false;
        //         }
        //     } else {
        //         for(let y=0; y<current.answer.length; y++) {
        //             if(selectedItems[x] == current.answer[y]) {
        //                 if(selectedItems.length == current.answer.length) {
        //                     if(x==(selectedItems.length-1)) {
        //                         score++;
        //                         document.getElementById("score").textContent = score;
        //                         current.correct = true;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }

        if((current.userAnswer.length>0) && !(current.marked)) {
            attempted++;
            current.marked = true;
        } else if(current.userAnswer.length==0) {
            attempted--;
            current.marked = false;
        }

        document.getElementById('flagged').textContent = flagged;
        document.getElementById('attempted').textContent = attempted;
        document.getElementById('unattempted').textContent = questions.length - attempted - flagged;

        if(!current.flagState) {
            if(!current.marked) {
                //initial question panel color
                document.getElementById(current.number).style.backgroundColor = "#e0e6e0";
                document.getElementById(current.number).style.color = "black";
            } else if(current.marked) {
                document.getElementById(current.number).style.backgroundColor = "#088a85";
                document.getElementById(current.number).style.color = "white";
            }
        }

        showAnswer(current, selectedItems);
    }
}

function showAnswer(current, selectedItems) {
    for(let i = 0; i < current.choices.length; i++){

        let questionid = "#questionNum-" + i;
        let questionrow = document.querySelector(questionid);
        if(selectedItems.length>0) {
            let absent = true;
            for(x=selectedItems.length-1; x>=0; x--) {

                if(!current.multiAnswer){
                    if(selectedItems[0] == current.choices[i]){
                        //questionrow.setAttribute("style", "background-color: #088a85; color: white");
                    } else {
                        //questionrow.setAttribute("style", "background-color: white;");
                    }
                }else {
                    if(selectedItems[x] == current.choices[i]){
                        //questionrow.setAttribute("style", "background-color: #088a85; color: white");
                        absent = false;
                    }
                }
            }
            if(absent && current.multiAnswer) {
                //questionrow.setAttribute("style", "background-color: white;");
            }
        } else {
            //questionrow.setAttribute("style", "background-color: white;");
        }

    }
}

function refresh() {
    location.reload();
}

function endTest() {

    document.getElementById('questionBox').style.left = "48%";
    document.getElementById('questionBox').style.top = "30%";

    document.getElementById('yesButton').style.display = 'none';
    document.getElementById('noButton').style.display = 'none';
    document.getElementById('confMsg').style.display = 'none';

    stopTimer();
    clear();

    timerTable.style.visibility = "hidden";
    document.getElementById('status').style.visibility = "hidden";

    document.getElementById('attemptedIcon').style.visibility = "hidden";
    document.getElementById('unattemptedIcon').style.visibility = "hidden";
    document.getElementById('flaggedIcon').style.visibility = "hidden";

    var sidebar = document.getElementById("sidebar");
    sidebar.style.display = "none";
    let heading = document.createElement("p");
    heading.setAttribute("id", "heading");
    heading.textContent = "Test Over!";
    let instructions = document.createElement("p");
    instructions.setAttribute("id", "instructions");
    instructions.textContent = "Hey! " + username + " Your Score is " + Math.round((score/questions.length)*100) + "%";
    quiz.appendChild(heading);
    quiz.appendChild(instructions);
}

function continueTest() {

    document.getElementById('questionBox').style.left = "550px";

    document.getElementById('sidebar').style.visibility = 'visible';
    document.getElementById('timer').style.visibility = 'visible';
    document.getElementById('status').style.visibility = 'visible';
    document.getElementById('attemptedIcon').style.visibility = "visible";
    document.getElementById('unattemptedIcon').style.visibility = "visible";
    document.getElementById('flaggedIcon').style.visibility = "visible";

    document.getElementById('questionBox').style.top = "10%";

    document.getElementById('questionBox').style.width = "700px";
    showQuestion(currentQuestion-1, randomQuestions);
}

function endQuiz(){
    document.getElementById('questionBox').style.width = "50%";
    document.getElementById('questionBox').style.left = "50%";

    document.getElementById('sidebar').style.visibility = 'hidden';
    document.getElementById('timer').style.visibility = 'hidden';
    document.getElementById('status').style.visibility = 'hidden';
    document.getElementById('attemptedIcon').style.visibility = "hidden";
    document.getElementById('unattemptedIcon').style.visibility = "hidden";
    document.getElementById('flaggedIcon').style.visibility = "hidden";



    if(!(quizDuration - quizSecondElapsed) < 1) {
        // if(confirm("Are you sure you want to submit?")) {
        //     document.getElementById('questionBox').style.left = "650px";
        // } else {
        //     showQuestion(currentQuestion-1, randomQuestions);
        //     return;
        // }

        document.getElementById('hr').style.display = 'none';

        document.getElementById('questionBox').style.top = '200px';

        let confirmationMessage = document.createElement('h2');
        confirmationMessage.setAttribute("id", "confMsg");
        confirmationMessage.innerText = 'Are you sure you want to submit?'
        document.getElementById('questionBox').appendChild(confirmationMessage);

        let inputOne = document.createElement('INPUT');
        inputOne.setAttribute("type", "button");
        inputOne.setAttribute("value", "Yes");
        inputOne.setAttribute("id", "yesButton");
        inputOne.setAttribute("class", "confButton");
        inputOne.setAttribute("onclick", "endTest()");
        document.getElementById('questionBox').appendChild(inputOne);

        let inputTwo = document.createElement('INPUT');
        inputTwo.setAttribute("type", "button");
        inputTwo.setAttribute("value", "No");
        inputTwo.setAttribute("class", "confButton");
        inputTwo.setAttribute("onclick", "continueTest()");
        inputTwo.setAttribute("id", "noButton");
        document.getElementById('questionBox').appendChild(inputTwo);

        document.getElementById('yesButton').style.display = 'inline-block';
        document.getElementById('noButton').style.display = 'inline-block';
        document.getElementById('confMsg').style.display = 'block';

    } else {

        stopTimer();
        clear();

        document.getElementById('questionBox').style.left = "48%";
        document.getElementById('questionBox').style.top = "30%";

        document.getElementById('attemptedIcon').style.visibility = "hidden";
        document.getElementById('unattemptedIcon').style.visibility = "hidden";
        document.getElementById('flaggedIcon').style.visibility = "hidden";

        timerTable.style.visibility = "hidden";
        document.getElementById('status').style.visibility = "hidden";
        var sidebar = document.getElementById("sidebar");
        sidebar.style.display = "none";
        let heading = document.createElement("p");
        heading.setAttribute("id", "heading");
        heading.textContent = "Test Over!";
        let instructions = document.createElement("p");
        instructions.setAttribute("id", "instructions");
        instructions.textContent = "Hey! " + username + " Your Score is " + Math.round((score/questions.length)*100) + "%";
        quiz.appendChild(heading);
        quiz.appendChild(instructions);

        document.getElementById('noButton').style.display = 'none';
        document.getElementById('yesButton').style.display = 'none';
        document.getElementById('confMsg').style.display = 'none';
    }



    // stopTimer();
    // clear();

    // timerTable.style.visibility = "hidden";
    // document.getElementById('status').style.visibility = "hidden";
    // var sidebar = document.getElementById("sidebar");
    // sidebar.style.display = "none";
    // let heading = document.createElement("p");
    // heading.setAttribute("id", "heading");
    // heading.textContent = "Test Over!";
    // let instructions = document.createElement("p");
    // instructions.setAttribute("id", "instructions");
    // instructions.textContent = "Hey! " + username + " Your Score is " + Math.round((score/questions.length)*100) + "%";
    // quiz.appendChild(heading);
    // quiz.appendChild(instructions);
}

function stopTimer() {
    quizSeconds = 0;
    clearInterval(quizInterval);
}

init();
    </script>
</body>
</html>